<ul class="auction" data-id="<%= auction.id %>" data-url="<%= current_path %>">
  <li class="title"><h1><%= auction.title %></h1></li>
  <li class="description"><%= auction.description %></li>
  <% unless auction.unscheduled? %>
    <li class="start-date">
      Auction starts: <strong><%= auction.start_datetime %></strong>
      <% if auction.scheduled? %>
        ( starts in <%= auction.seconds_till_start/3600/24 %>d 
        <%= Time.at(auction.seconds_till_start).gmtime.strftime('%Hh %Mmin %Ssec') %> )
      <% end %>
    </li>
  <% end %>
  <li class="store-price">Store price: <strong><%= '%.2f' % auction.store_price %> BGN</strong></li>
  <li class="start-price">Start price: <strong><%= '%.2f' % auction.start_price %> BGN</strong></li>
  <li class="end-price">End price: <strong><%= '%.2f' % auction.end_price %> BGN</strong></li>
  <li class="current-price">Current price: <strong><%= '%.2f' % auction.current_price %> BGN</strong></li>
  <li class="start-quantity">Start quantity: <strong><%= auction.start_quantity %></strong></li>
  <li class="current-quantity">Current quantity: <strong><%= auction.current_quantity %></strong></li>
  <li class="minimum-users-per-product">Minimum users per product: <strong><%= auction.minimum_users_per_product %></strong></li>
  <li class="maximum-users-per-product">Maximum users per product: <strong><%= auction.maximum_users_per_product %></strong></li>
  <li class="minimum-users-for-auction">Minimum users for auction: <strong><%= auction.minimum_active_users_count %></strong></li>
  <li class="time-for-purchase">Time for purchase: <strong><%= auction.time_for_purchase %> seconds</strong></li>
  <li class="active-users-timeout">
    Active users timeout: <strong><%= auction.active_users_timeout %> seconds</strong>
    <% if auction.waiting_for_active_users? %>
      ( ends in <%= Time.at(auction.seconds_till_end_due_not_enough_active_users).gmtime.strftime('%Hh %Mmin %Ssec') %> )
    <% end %>
  </li>
  <li class="registered-users">Registered users: <strong><%= auction.users.count %></strong></li>
  <li class="active-users">Active users: <strong><%= auction.active_users_count %></strong></li>
  <li class="inactive-users">Inactive users: <strong><%= auction.inactive_users_count %></strong></li>
</ul>