<h1><%= @auction.title %></h1>
<p><%= @auction.description %></p>

<ul>
  <% unless @auction.unscheduled? %>
    <li>Auction starts:            <strong><%= @auction.start_datetime %></strong></li>
  <% end %>
  <li>Auction status:            <strong><%= @auction.state %></strong></li>
  <li>Store price:               <strong><%= @auction.store_price %> BGN</strong></li>
  <li>Start price:               <strong><%= @auction.start_price %> BGN</strong></li>
  <li>End price:                 <strong><%= @auction.end_price %> BGN</strong></li>
  <li>Current price:             <strong><%= @auction.current_price %> BGN</strong></li>
  <li>Start quantity:            <strong><%= @auction.start_quantity %></strong></li>
  <li>Current quantity:          <strong><%= @auction.current_quantity %></strong></li>
  <li>Minimum users per product: <strong><%= @auction.minimum_users_per_product %></strong></li>
  <li>Maximum users per product: <strong><%= @auction.maximum_users_per_product %></strong></li>
  <li>Time for purchase:         <strong><%= @auction.time_for_purchase %> seconds</strong></li>
</ul>

<ul>
  <li>Registered users: <strong><%= @auction.users.count %></strong></li>
</ul>

<ul>
  <li>Active users:   <strong>?</strong></li>
  <li>Inactive users: <strong>?</strong></li>
</ul>

<% if logged_in? %>
  <% if current_user.registered_for?(@auction) %>
    <% if @auction.scheduled? %>
      <%= button_tag 'Waiting for auction start ...', disabled: true %>
    <% elsif @auction.running? %>
      <%= form_for Purchase.new, url: reserve_auction_purchase_path(@auction), method: :put do |f| %>
        <%= f.submit 'Buy' %>
      <% end %>
    <% elsif @auction.waiting_for_active_users? %>
      <%= button_tag 'Waiting for enough active users ...', disabled: true %>
    <% elsif @auction.reached_lowest_price? %>
      <%= button_tag 'Auction terminated due to reaching the lowest price', disabled: true %>
    <% elsif @auction.sold_out? %>
      <%= button_tag 'Auction closed', disabled: true %>
    <% elsif @auction.terminated? %>
      <%= button_tag 'Auction terminated', disabled: true %>
    <% elsif @auction.unscheduled? %>
      <%# Do not show anything %>
    <% end %>

  <% else %>
    <% if @auction.scheduled? %>
      <%= form_for AuctionParticipation.new, url: auction_auction_participation_path(@auction) do |f| %>
        <%= f.submit 'Register for auction' %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to 'Sign in', new_session_path, method: 'get' %>
  <%= button_to 'Sign up', new_user_path, method: 'get' %>
<% end %>