<h1><%= @auction.title %></h1>
<p><%= @auction.description %></p>

<ul>
  <li>Auction starts:            <strong><%= @auction.start_datetime %></strong></li>
  <li>Auction status:            <strong><%= @auction.state %></strong></li>
  <li>Store price:               <strong><%= @auction.store_price %> BGN</strong></li>
  <li>Start price:               <strong><%= @auction.start_price %> BGN</strong></li>
  <li>End price:                 <strong><%= @auction.end_price %> BGN</strong></li>
  <li>Current price:             <strong><%= @auction.current_price %> BGN</strong></li>
  <li>Start quantity:            <strong><%= @auction.start_quantity %></strong></li>
  <li>End quantity:              <strong><%= @auction.current_quantity %></strong></li>
  <li>Minimum users per product: <strong><%= @auction.minimum_users_per_product %></strong></li>
  <li>Maximum users per product: <strong><%= @auction.maximum_users_per_product %></strong></li>
  <li>Time for purchase:         <strong><%= @auction.time_for_purchase %></strong></li>
</ul>