<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start price</th>
      <th>End price</th>
      <th>Current price</th>
      <th>Store price</th>
      <th>Start quantity</th>
      <th>Current quantity</th>
      <th>State</th>
      <th>Start time</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.id %></td>
        <td><%= auction.title %></td>
        <td><%= auction.description %></td>
        <td><%= auction.start_price %></td>
        <td><%= auction.end_price %></td>
        <td><%= auction.current_price %></td>
        <td><%= auction.store_price %></td>
        <td><%= auction.start_quantity %></td>
        <td><%= auction.current_quantity %></td>
        <td><%= auction.state %></td>
        <td><%= auction.start_datetime %></td>
        <td><%= auction.created_at %></td>
        <td><%= auction.updated_at %></td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New', new_administration_auction_path %>